<div class="container" >
  <div class="row mt-5">
    <div class="col-12">
        <!-- pasos de formulario -->
        <form [formGroup]="ventaForm" (action)="enviarFormulario()">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Formulario Venta Empleados
            </mat-card-title>
          </mat-card-header>
          <mat-horizontal-stepper  #stepper *ngIf="!submited">
            <mat-step  [stepControl]="ventaForm">
              <ng-template matStepLabel>Datos del comprador</ng-template>
              <mat-form-field style="width: 100%;">
                <mat-label>Nombre
                </mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Apellido
                </mat-label>
                <input matInput placeholder="Apellido" formControlName="apellido" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>N° de legajo SAP</mat-label>
                <input matInput placeholder="" type="number" formControlName="legajo" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="ejemplo@piero.com" formControlName="email" type="email" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Telefono de Contacto</mat-label>
                <input matInput placeholder="" formControlName="telefono" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext >Siguiente</button>
              </div>
          </mat-step>
          <mat-step  label="Seleccion de producto">
   
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input type="text"
                     placeholder="Seleccione un producto"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="agregarALista($event.option.value)">
                <mat-option *ngFor="let item of filteredOptions  | async" [value]="item">
                  {{item}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="alert alert-info"   role="alert">
              Una vez seleccionado un producto, borre el campo para poder seleccionar otro. De lo contrario seguira aplicado el filtro.
            </div>

            <mat-grid-list cols="3" style="width: 100%; " rowHeight="100px" >
              <ng-container *ngFor="let item of selectedItems; let i = index">
              <mat-grid-tile>
                {{item.nombre}}
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="example-full-width" style="justify-content: space-between;">
                  <mat-label>Cantidad</mat-label>
                  <input matInput  [(ngModel)]="item.cantidad" type="number" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
                
              </mat-grid-tile>

              <mat-grid-tile>
                <button mat-button (click)="borrarDeLista(i)"><span class="material-icons" style="color: red;">
                  delete
                  </span></button>
              </mat-grid-tile>
                
             

            </ng-container>

            </mat-grid-list>
      
              <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext >Siguiente</button>
              </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Informacion de pago</ng-template>
        

            <!-- <mat-form-field style="width: 100%;">
              <mat-label>N° de tarjeta (16 dígitos)</mat-label>
              <input matInput placeholder="" type="number" formControlName="numerotarjeta" required>
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <mat-label>Nombre y apellido del titular de tarjeta</mat-label>
              <input matInput placeholder="" type="text" formControlName="nombretarjeta" required>
            </mat-form-field> -->
        
            <!-- <p>Selecciona una fecha de vencimiento</p>
            <p>Fecha seleccionada: {{mes}}/{{anio}}</p> -->

            <!-- <mat-form-field appearance="fill">
              <mat-label>Seleccione un mes</mat-label>
              <mat-select [(value)]="mes" [ngModelOptions]="{standalone: true}">
                <mat-option value="0" >sin seleccionar</mat-option>
                <mat-option value="01">Enero</mat-option>
                <mat-option value="02">Febrero</mat-option>
                <mat-option value="03">Marzo</mat-option>
                <mat-option value="04">Abril</mat-option>
                <mat-option value="05">Mayo</mat-option>
                <mat-option value="06">Junio</mat-option>
                <mat-option value="07">Julio</mat-option>
                <mat-option value="08">Agosto</mat-option>
                <mat-option value="09">Septiembre</mat-option>
                <mat-option value="10">Octubre</mat-option>
                <mat-option value="11">Noviembre</mat-option>
                <mat-option value="12">Diciembre</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Seleccione un año</mat-label>
              <mat-select [(value)]="anio" [ngModelOptions]="{standalone: true}">
                <mat-option value="0" >sin seleccionar</mat-option>
                <mat-option value="20">2020</mat-option>
                <mat-option value="22">2022</mat-option>
                <mat-option value="23">2023</mat-option>
                <mat-option value="24">2024</mat-option>
                <mat-option value="25">2025</mat-option>
                <mat-option value="26">2026</mat-option>
                <mat-option value="27">2027</mat-option>
                <mat-option value="28">2028</mat-option>
                <mat-option value="29">2029</mat-option>
                <mat-option value="30">2030</mat-option>
                <mat-option value="31">2031</mat-option>
                <mat-option value="32">2032</mat-option>
                <mat-option value="33">2033</mat-option>
                <mat-option value="34">2034</mat-option>
                <mat-option value="35">2035</mat-option>
                <mat-option value="36">2036</mat-option>
                <mat-option value="37">2037</mat-option>
                <mat-option value="38">2038</mat-option>
                <mat-option value="39">2039</mat-option>
                <mat-option value="40">2040</mat-option>
      
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <mat-label>Código de seguridad (CVC)</mat-label>
              <input matInput placeholder="" type="number" formControlName="cvc" required>
            </mat-form-field> -->
            
            <div class="padding">
              <div class="row">
                  <div class="container-fluid d-flex justify-content-center">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <div class="row">
                                      <div class="col-md-6"> <span>INFORMACION DE TARJETA</span> </div>
                                      <div class="col-md-6 text-right" style="margin-top: -5px;"> <img src="https://img.icons8.com/color/36/000000/visa.png"> <img src="https://img.icons8.com/color/36/000000/mastercard.png"> <img src="https://img.icons8.com/color/36/000000/amex.png"> </div>
                                  </div>
                              </div>
                              <div class="card-body" style="height: 350px">
                                  <div class="form-group"> <label for="cc-number" class="control-label">NUMBERO DE TARJETA</label> <input  formControlName="numerotarjeta" id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required> </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group"> <label for="cc-exp" class="control-label">FECHA DE VENCIMIENTO (MM/AA)</label> <input id="cc-exp" formControlName="vencimientotarjeta" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••" required> </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group"> <label for="cc-cvc" class="control-label">CÓDIGO DE SEGURIDAD (CVC)</label> <input id="cc-cvc" type="tel" formControlName="cvc" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="••••" required> </div>
                                      </div>
                                  </div>
                                  <div class="form-group"> <label for="numeric" class="control-label">NOMBRE DEL PORTADOR DE LA TARJETA</label> <input  formControlName="nombretarjeta" type="text" class="input-lg form-control"> </div>
                                  <div class="form-group">

                                  <mat-radio-group class="mt-5"  formControlName="cuotas" aria-label="Seleccione una opcion de pago">
                                    <mat-label>Numero de Cuotas   </mat-label>
                                    <mat-radio-button value="1">1 Cuota</mat-radio-button>
                                    <mat-radio-button value="12">12 Cuotas</mat-radio-button>
                                  </mat-radio-group>
                                </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>




            <div class="alert alert-warning"   *ngIf="!ventaForm.valid" role="alert">
              Por favor complete todos los campos incluyendo los de los pasos anteriores antes de enviar.
            </div>
           




            
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button   mat-button type="submit" (click)="enviarFormulario()" [disabled]="!ventaForm.valid">Enviar</button>
              <!-- <button   mat-button type="button" (click)="consleform()" >Enviar</button> -->
              
            </div>
          </mat-step>
          </mat-horizontal-stepper>
          <div class="card" *ngIf="submited">
            <div class="card-body">
              <div class="row my-3" style="display: flex; justify-content: center;">
                
                <span class="material-icons" style="font-size: 160px; color: green;">
                  check_circle
                  </span>
              </div>
              <div class="row" style="justify-content: center; display: flex;">
                <div class="alert alert-success"   role="alert">
                 Se cargo con exito el pedido!
                </div>
              </div>
              <div class="row" style="display: flex; justify-content: center;">

                <button   mat-button mat-button-primary type="button" (click)="newRequest()" >Cargar Nuevo</button>
              </div>
  
            </div>
          </div>
       
        
        </mat-card>
      </form>

      

    </div>
  </div>

</div>