<div class="container" >
  <div class="row mt-5">
    <div class="col-12">
        <!-- pasos de formulario -->
        <form [formGroup]="ventaForm" (action)="enviarFormulario()">

        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Formulario Venta Empleados
            </mat-card-title>
          </mat-card-header>
          <mat-horizontal-stepper  #stepper *ngIf="!submited">
            <mat-step  [stepControl]="ventaForm">
              <ng-template matStepLabel>Datos del comprador</ng-template>
              <mat-form-field style="width: 100%;">
                <mat-label>Nombre
                </mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Apellido
                </mat-label>
                <input matInput placeholder="Apellido" formControlName="apellido" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>N° de legajo SAP</mat-label>
                <input matInput placeholder="" type="number" formControlName="legajo" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="ejemplo@piero.com" formControlName="email" type="email" required>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-label>Telefono de Contacto</mat-label>
                <input matInput placeholder="" formControlName="telefono" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext >Siguiente</button>
              </div>
          </mat-step>
          <mat-step  label="Seleccion de producto">
   
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input type="text"
                     placeholder="Seleccione un producto"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="agregarALista($event.option.value)">
                <mat-option *ngFor="let item of filteredOptions  | async" [value]="item">
                  {{item}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="alert alert-info"   role="alert">
              Una vez seleccionado un producto, borre el campo para poder seleccionar otro. De lo contrario seguira aplicado el filtro.
            </div>

            <mat-grid-list cols="3" style="width: 100%; " rowHeight="100px" >
              <ng-container *ngFor="let item of selectedItems; let i = index">
              <mat-grid-tile>
                {{item.nombre}}
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="example-full-width" style="justify-content: space-between;">
                  <mat-label>Cantidad</mat-label>
                  <input matInput  [(ngModel)]="item.cantidad" type="number" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
                
              </mat-grid-tile>

              <mat-grid-tile>
                <button mat-button (click)="borrarDeLista(i)"><span class="material-icons" style="color: red;">
                  delete
                  </span></button>
              </mat-grid-tile>
                
             

            </ng-container>

            </mat-grid-list>
      
              <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext >Siguiente</button>
              </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Informacion de pago</ng-template>
            <mat-radio-group class="mt-5"  formControlName="cuotas" aria-label="Seleccione una opcion de pago">
              <mat-radio-button value="1">1 Cuota</mat-radio-button>
              <mat-radio-button value="12">12 Cuotas</mat-radio-button>
            </mat-radio-group>
            <p>Presione el boton de enviar para finalizar.</p>
            <div class="alert alert-warning"   *ngIf="!ventaForm.valid" role="alert">
              Por favor complete todos los campos incluyendo los de los pasos anteriores antes de enviar.
            </div>
           
            <div>
              <button mat-button matStepperPrevious>Anterior</button>
              <button   mat-button type="submit" (click)="enviarFormulario()" [disabled]="!ventaForm.valid">Enviar</button>
            </div>
          </mat-step>
          </mat-horizontal-stepper>
          <div class="card" *ngIf="submited">
            <div class="card-body">
              <div class="row my-3" style="display: flex; justify-content: center;">
                
                <span class="material-icons" style="font-size: 160px; color: green;">
                  check_circle
                  </span>
              </div>
              <div class="row" style="justify-content: center; display: flex;">
                <div class="alert alert-success"   role="alert">
                 Se cargo con exito el pedido!
                </div>
              </div>
              <div class="row" style="display: flex; justify-content: center;">

                <button   mat-button mat-button-primary type="button" (click)="newRequest()" >Cargar Nuevo</button>
              </div>
  
            </div>
          </div>
       
        
        </mat-card>
      </form>

    </div>
  </div>

</div>